/* Desktop Screen */
@media (min-width:1024px){
    .responsive-img-wrapper{
        width: calc(25% - 16px);
    }
}

/* Tablet Screen */
@media (min-width: 768px) and (max-width: 1023px) {
    .responsive-img-wrapper{
        width: calc(50% - 16px);
    }
}

/* Mobile Screen */
@media (min-width: 360px) and (max-width: 767px) {
    .responsive-img-wrapper{
        width: calc(100% - 16px);
    }
}